<h1 class="page-title">Battle Mode</h1>
<div class="span6">
	<% current_type = nil %>
	<% @moves.each do |move| %>
		<% if move.type.name != current_type %>
		<% current_type = move.type.name %>
			<h4><%= move.type.name %></h4>
			<div class="moves">
		<% end %>
		<div id="move_<%= move.id %>" class="bmodewrap <%= move.bmode %>">
			<div class="move <%= move.type.name.downcase.tr(" ", "-") %>"><%= move.name %></div>
			<div class="bmode">
				<div class="use-move">Use Move?</div>
				<%= render 'formbmode', move: move %>
			</div>
		</div>
		<% end %>
	</div>
</div>
<div class="span6 reset">
	<a href="#" id="end-battle">End Current Battle</a>
</div>
