<h1>Battle Mode</h1>
<div class="span6">
<h4>Top Rock</h4>
<div class="moves">
<% @tops.each do |move| %>
  <div class="move <%= move.type.name.downcase.tr(" ", "-") %>"><%= move.name %></div>
  <div class="bmode">
  	<div class="use-move">Use Move?</div>
  	<%= render 'formbmode', move: move %>
  </div>
<% end %>
</div>
<h4>Footwork</h4>
<div class="moves">
<% @footwork.each do |move| %>
  <div class="move <%= move.type.name.downcase.tr(" ", "-") %>"><%= move.name %></div>
  <div class="bmode"><%= move.bmode %></div>
<% end %>
</div>
<h4>Power Moves</h4>
<div class="moves">
<% @power.each do |move| %>
  <div class="move <%= move.type.name.downcase.tr(" ", "-") %>"><%= move.name %></div>
  <div class="bmode"><%= move.bmode %></div>
<% end %>
</div>
<h4>Freezes</h4>
<div class="moves">
<% @freezes.each do |move| %>
  <div class="move <%= move.type.name.downcase.tr(" ", "-") %>"><span><%= move.name %></div>
  <div class="bmode"><%= move.bmode %></div>
<% end %>
</div>
</div>
<%= link_to 'New Move', new_move_path %>
