<% if @user.id == current_user.id %>
	<div class="page-header">
		<h1>Yo, <%= @user.bboy_name %>!</h1>
	</div>
	<div class="row">
		<div class="span6">
		<h4>Your Recently Added Moves</h4>
		<%= link_to 'New Move', new_move_path, class: 'button'  %>
		<% if @moves %>
		<ul class="moves">
			<% @moves.each do |move| %>
				<li class="move <%= move.type.name.downcase.tr(" ", "-") %>"><span><%= move.type.name %></span><%= move.name %></li>
			<% end %>
		</ul>
		<%= link_to 'View your move book', moves_path %>
	<% end %>
	</div>
	</div>
<% else %>
	<div class="page-header">
		<h1><%= @user.bboy_name %>: <%= @user.crew_name %></h1>
	</div>
	<h3><%= @user.bboy_name %>'s Moves</h3>
	<p><%= @user.bboy_name %>'s move book is private, don't bite!</p>
<% end %>
