<div class="page-header">
  <h1>Users</h1>
</div>

<ol>
<% @users.each do |user| %>
  <li>
	<%= user.first_name %> <%= user.last_name %> -
	<%= user.bboy_name %> - 
	<%= user.crew_name %> -
	<%= user.moves.length %>
  </li>
<% end %>		

</ol>

