<%= simple_form_for(@move) do |f| %>
  <% if @move.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@move.errors.count, "error") %> prohibited this move from being saved:</h2>

      <ul>
      <% @move.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%= f.input :name %>
  <%= f.input :type_id, :collection => Type.all, :selected => @move.type_id  %>
  <%= f.input :level %>
  <%= f.input :video %>
  <%= f.input :description, input_html: { rows: 10, class: 'span12 field' } %>
  <%= f.button :submit, class: 'btn btn-primary' %>
<% end %>
