= simple_form_for(@battle) do |f|
	= f.error_notification

	.form-inputs
		= f.input :name
		= f.input :iteration
		= f.input :location
		= f.input :date, :as => :datepicker
		= f.fields_for :user_battles do |builder|
			= render "ubform", f: builder

	.form-actions
		= f.button :submit, class: "btn-primary"

