<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @user_battle.user_id %>
</p>

<p>
  <b>Battle:</b>
  <%= @user_battle.battle_id %>
</p>

<p>
  <b>Notes:</b>
  <%= @user_battle.notes %>
</p>


<%= link_to 'Edit', edit_user_battle_path(@user_battle) %> |
<%= link_to 'Back', user_battles_path %>
