<div class="navbar navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container">
			<a class="brand" href="#">Bboy Tools</a>
			<ul class="nav">
				<li><%= link_to "Moves", moves_path %></li>
				<li><%= link_to "Move Types", types_path %></li>
			</ul>
			<ul class="nav pull-right">
				<% if user_signed_in? %>
					<li><%= link_to "Welcome " + current_user.bboy_name , edit_user_registration_path  %></li>
					<li><%= link_to "Sign out", signout_path %></li>
				<% else %>
					<li><%= link_to "Create Account", register_path %></li>
					<li><%= link_to "Sign In", signin_path %></li>
				<% end %>
			</ul>
		</div>
	</div>
</div>
