<div class="navbar navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container">
			<i id="slide-nav" class="icon-reorder"></i>
			<a class="brand" href="/">Bboy Tools</a>
			<nav id="nav" role="navigation">
        			<div class="block">
			<ul class="nav">
				<li><%= link_to "My Moves", moves_path %></li>
				<li><%= link_to "Battles", battles_path %></li>
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">Tools<b class="caret"></b></a>
					<ul class="dropdown-menu">
						<li><%= link_to "30/30s Timer", time_path %></li>
						<li><%= link_to "Battle Mode", bmode_path %></li>
					</ul>
				</li>
				<li class="mobile-user-menu">
			<ul class="user-menu nav pull-right">
				<% if user_signed_in? %>
				<li><%= link_to ("/" + current_user.bboy_name) do %><i class="icon-user"></i><%= current_user.bboy_name + " - " + current_user.crew_name %><% end %></li>
				<li><%= link_to(signout_path) do %><i class="icon-off"></i> Sign Out<% end %></li>
				<% else %>
				<li><%= link_to(register_path) do %><i class="icon-user"></i>Create Account<% end %></li>
				<li><%= link_to(signin_path)  do %><i class="icon-cog"></i> Sign In<% end %></li>
				<% end %>
			</ul>
				</li>
			</ul>
		</div>
	</nav>
			<ul class="user-menu nav pull-right">
				<% if user_signed_in? %>
				<li><%= link_to current_user.bboy_name + " - " + current_user.crew_name, "/" + current_user.bboy_name %></li>
				<li><%= link_to "Sign out", signout_path %></li>
				<% else %>
				<li><%= link_to "Create Account", register_path %></li>
				<li><%= link_to "Sign In", signin_path %></li>
				<% end %>
			</ul>
		</div>
	</div>
</div>
