<!DOCTYPE html>
<html>
<head>
  <title>Sets</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="navbar navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container">
				<a class="brand" href="#">Bboy Tools</a>
				<ul class="nav">
					<li><%= link_to "Moves", moves_path %></li>
					<li><%= link_to "Move Types", types_path %></li>
				</ul>
				<ul class="nav pull-right">
					<% if user_signed_in? %>
						<li><%= link_to "Welcome " + current_user.bboy_name , edit_user_registration_path  %></li>
						<li><%= link_to "Sign out", destroy_user_session_path, method: :delete %></li>
					<% else %>
						<li><%= link_to "Sign In", new_user_session_path %></li>
					<% end %>
				</ul>
			</div>
		</div>
	</div>
	<div class="container">
		<% flash.each do |type, message| %>
			<div class="alert <%= flash_class type %>">
				<button class="close" data-dismiss="alert">x</button>
				<%= message %>
			</div>
		<% end %>
		<%= yield %>
	</div>
</body>
</html>
