<!DOCTYPE html>
<html class="js-ready">
<head>
	<title>Sets</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
	<%= stylesheet_link_tag    "application", :media => "all" %>
	<script src="https://raw.github.com/nene/jintervals/master/jintervals.js"></script>
	<%= javascript_include_tag "application" %>
	<%= csrf_meta_tags %>
</head>
<body>
	<div id="outer-wrap">
		<div id="inner-wrap">
			<%= render '/layouts/nav' %>
			<div class="container">
				<div class="wrap">
				<% flash.each do |type, message| %>
				<div class="alert <%= flash_class type %>">
					<button class="close" data-dismiss="alert">x</button>
					<%= message %>
				</div>
				<% end %>
				<%= yield %>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
